
    <div id="app">
        {{ message }}
        {{ test }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <table></table>
        <tr>
            <td>なまえ</td>
            <td>番号</td>
        </tr>
        <div v-for="todo in todos">
            <tr>
                <td>{{ todo.text }}</td>
                <td>{{ todo.phone }}</td>
            </tr>
        </div>
        </table>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <button v-on:click="addBook">Add Book</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
